
  <title>EVR Dashboard</title>

  <script src="data/sites.js"></script>
  <script src="data/district_offsets.js"></script>
  <style>
        body {
          font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, sans-serif;
        }
        #legend,  #legend2{
            width: 200px;
            margin-right: 2px;
            border-collapse: collapse;
        }
        #legend2{
            width: 270px;
        }
        #red, #green{
            width: 50%;
            padding: 8px;
            border: 1px solid lightblue;
        }

        #stat-red, #stat-green{
            width: 50%;
            padding: 12px;
            border: 1px solid lightblue;
            text-align: left;
        }

        #red-txt, #green-txt{
            width: 60%;
            padding: 12px;
            border: 1px solid lightblue;
            text-align: right;
        }

        #stat-red-txt, #stat-green-txt{
            width: 60%;
            padding: 12px;
            border: 1px solid lightblue;
            text-align: right;
            font-weight: bold;

        }

        #red, #stat-red{
            background: rgba(255,0,0,0.7);
        }
        #green, #stat-green{
            background: rgba(0,200,0,0.7);
        }

        #list{
            border-collapse: collapse;
            box-shadow: 10px 10px 5px #888888;
            overflow: hidden;
        }
        #list-parent{
            box-shadow: 5px 5px 5px #888888;
        }
        #list td{
            border: 1px solid lightgray;
            padding: 13px;
            text-align: left;
        }
          #district{
              box-shadow: 5px 5px 5px #888888;
          }
          .circle{
              border-radius: 50%;
              float: right;
              width: 15px;
              height: 15px;
          }
          .offline{
              background:rgba(255,0,0,0.7);
          }
          .online{
              background: rgba(0,200,0,0.7);
          }
  </style>

<div id="c_district"
     style="width: 100%; height: 100%; text-align: center; float: right; border: 1px solid #000;">
    <div style="background: #2e6da4; box-shadow: 5px 5px 5px #888888; color: white; width: 99%;margin: auto; height: 5%;font-size: 1.5em; padding-top: 8px;border-bottom: 1px dotted lightgray">
        Sites EVR Acces Status
    </div>
    <div id="leg" style="position: absolute; right: 40%; border: 1px solid #ccc; padding: 5px; font-size: 22px;">
        <table id="legend">
            <tr>
                <td id="green">&nbsp;</td>
                <td id="green-txt">Up</td>
            </tr>

            <tr>
                <td id="red">&nbsp;</td>
                <td id="red-txt">Down</td>
            </tr>

        </table>
    </div>

        <div id="list-parent" style="width: 37%;position: absolute; right: 2%;  height: 86%; overflow: hidden; margin-top: 1.5%;float: right;">
            <table id="list" style="width: 100%; font-size: 1.5em;background: ghostwhite;">
            </table>
        </div>

        <object id="district" type="image/svg+xml" data="images/mw/ll_north.svg"
                  style="height: 87%; width: 60%;float: left; border: 1.5px solid #ccc;margin: 8px;margin-top: 1.5%;">
        </object>

        <div id="district_label"
           style="position: absolute; top: 5px;  color: white; left: 20px; border: 1px solid #ccc; padding: 5px; font-size: 22px;">
            TA Mtema
        </div>

    </div>

<script>

    String.prototype.capitalize = function() {
        return this.charAt(0).toUpperCase() + this.slice(1);
    }

    connections = {};
    durations = {};
    radius = {};
    var refPoints = [-9.6, -17.4, 33.05, 35.98];
    var offsets = [10, 295, 10, 710];
    var up = 0;
    var down = 0;
    for(var key in values['legend']){
        __$(key + "-txt").innerHTML = values['legend'][key];
    }

    function latLon2Coord(lat, lon) {

        var x, y;

        x = ((offsets[1] - offsets[0]) * ((Math.abs(lon) - Math.abs(refPoints[2])) / (Math.abs(refPoints[3]) - Math.abs(refPoints[2])))) // + offsets[0];

        y = ((offsets[3] - offsets[2]) * ((Math.abs(lat) - Math.abs(refPoints[0])) / (Math.abs(refPoints[1]) - Math.abs(refPoints[0])))) // + offsets[2];

        return [x, y]

    }

    function insertSiteByOffset(x, y, color, id, district, village) {

        var doc = __$("district").contentDocument;

        var mw = doc.getElementById(district);

        var target = districtOffsets[district];

        var circle = document.createElementNS("http://www.w3.org/2000/svg", "circle");

        circle.setAttribute("cx", (x - target.x));
        circle.setAttribute("cy", (y - target.y));

        var r = 0.25;
        if(radius[village.replace(/\s+/g, '_').toLowerCase()]) {
            r = radius[village.replace(/\s+/g, '_').toLowerCase()][0];
        }

        circle.setAttribute("r", r);
        circle.setAttribute("id", id);
        circle.setAttribute("fill", color);
        circle.setAttribute("stroke-width", 0.025);
        circle.setAttribute("stroke", "rgba(0,0,0,0.7)");
        circle.setAttribute("data-tooltip", village);
        mw.appendChild(circle);

    }

    function insertSiteMarkerByOffset(x, y, color, id, district, village) {

        var doc = __$("district").contentDocument;
        var mw = doc.getElementById(district);
        var target = districtOffsets[district];

        var svgimg = document.createElementNS('http://www.w3.org/2000/svg','image');
        svgimg.setAttribute('height','2');
        svgimg.setAttribute('width','2');
        svgimg.setAttribute('z-index','2000');
        svgimg.setAttribute('id', ("pin-" + id));
        svgimg.setAttribute("visibility", "hidden");
        svgimg.setAttributeNS('http://www.w3.org/1999/xlink','href','pin.svg');
        svgimg.setAttribute('x',(x - 1.02*target.x));
        svgimg.setAttribute('y',(y - 1.005*target.y));
        mw.appendChild(svgimg);
    }


    function loadSiteConnections(district){

        jQuery.ajax({url: "/home/connection_status",
            success: function(r){
                connections = JSON.parse(r)[0];
                durations = JSON.parse(r)[1];
                radius = JSON.parse(r)[2];

                loadDistrictSitesByOffsets("lilongwe");
                loadDistrictSitesMarkerByOffsets("lilongwe");
                __$("green").innerHTML = up;
                __$("red").innerHTML = down;

                jQuery.ajax({url: "/home/connection_lastseen_status",
                    success: function(r){
                        lastseen = JSON.parse(r)[0];
                        loadSites(lastseen, district);
                    }
                });
            }
        });


    }

    function loadDistrictSitesByOffsets(district) {

        var target = sites_by_zones[district];

        for (var i = 0; i < target.length; i++) {

            var result = latLon2Coord(target[i]["latitude"], target[i]["longitude"])

            var colors = ["rgba(255,0,0,0.6)", "rgba(0,200,0,0.6)", "rgba(0,0,200,0.6)"];
            var vg = district.toLowerCase().replace(/\s/g, '_') + "__mtema__" +target[i]['village'].replace(/\s/g, '_').toLowerCase();
            if(connections[vg]) {
                var pos = 1;
                up += 1;
            }else{
                var pos = 0;
                down += 1;
            }

            insertSiteByOffset(result[0], result[1], colors[pos], district + '_' + target[i]["facility_id"], district, vg);

        }

    }

    function loadDistrictSitesMarkerByOffsets(district) {

        var target = sites_by_zones[district];

        for (var i = 0; i < target.length; i++) {

            var result = latLon2Coord(target[i]["latitude"], target[i]["longitude"])

            var colors = ["rgba(255,0,0,0.7)", "rgba(0,200,0,0.7)", "rgba(0,0,200,0.7)"];

            var vg = district.toLowerCase().replace(/\s/g, '_') + "__mtema__" +target[i]['village'].replace(/\s/g, '_').toLowerCase();

            if(connections[vg]) {
                var pos = 1;
            }else{
                var pos = 0;
            }

            insertSiteMarkerByOffset(result[0], result[1], colors[pos], district + '_' + target[i]["facility_id"], district, vg);

        }

    }

    function loadSites(data, district){
        for (var site_name in  data){
            var tr = document.createElement("tr");

            var site_village_name = site_name.split(/\__/);
            site_village_name =  site_village_name[ site_village_name.length - 1];
            tr.id = site_village_name;

            if(connections[site_name.replace(/\s/g, '_').toLowerCase()]){

                tr.innerHTML = "<td id='site_name'>" +site_village_name.replace(/\s+/g, ' ').capitalize().replace(/^GVH|^GH|^VH|^VG|^GV|^T\/A/i, "").trim() + " <span class='circle online'>&nbsp;<span></td> <td id='online_status'>" + data[site_name] + "</td>";
            }else{
                tr.innerHTML = "<td id='site_name'>" + site_village_name.replace(/\s+/g, ' ').capitalize().replace(/^GVH|^GH|^VH|^VG|^GV|^T\/A/i, "").trim() + " <span class='circle offline'>&nbsp;<span></td> <td id='online_status'>" + data[site_name] + "</td>";
            }

            __$("list").appendChild(tr);
        }

        for (var i in  sites_by_zones[district]){

            site_name = sites_by_zones[district][i]['village']
            var id = sites_by_zones[district][i]['village'].replace(/\s+/, "_").toLowerCase();

            if (__$(site_name)){
                continue;
            }

            var tr = document.createElement("tr");
            tr.id = id;
            var site_village_name = site_name.split(/\__/);
            site_village_name =  site_village_name[ site_village_name.length - 1];

            tr.innerHTML = "<td id='site_name'>"+  site_village_name.capitalize().replace(/^GVH|^GH|^VH|^VG|^GV|^T\/A/i, "").trim().replace(/\s+/, " ") + " <span class='circle offline'>&nbsp;<span></td> <td id='online_status'>Offline</td>"
            __$("list").appendChild(tr);
        }
    }

    setTimeout(function () {

       loadSiteConnections("lilongwe");

    }, 500);

    function __$(id){
        return document.getElementById(id);
    }

    setTimeout(function(){
        scrollInterval = window.setInterval(function () {
            pageScroll(__$("list-parent"))
        }, scrollDelay);
    }, 5000);



</script>
