<!DOCTYPE HTML>
<html>
<head>
  <title>EVR Dashboard</title>
  <style>
    #iframe{
        width: 99%;
        height: 97vh;
        margin: 0px;;
        border: 1px solid lightgray;
        padding: 0px;
    }

          body{
              padding: 0px;
              margin: 0px;
          }

  </style>
</head>
<body>

<div id="iframe" src="/home/connection_dashboard">

</div>

</body>

<script>

  var curIndex = -1;

  dashboard = [
      {
          'title' : 'Site Connection Status',
          'src' : '/home/connection_dashboard',
          'legend' : {
              'red' : 'Down',
              'green' : 'Up'
          }
       }
  ]

  var length = dashboard.length;

  function __$(id){
      return document.getElementById(id);
  }
  function rotate(waitPeriod){

      for(var i in dashboard){

          values = dashboard[i];

          setTimeout(function(){
              if (dashboard[curIndex + 1]){
                  curIndex += 1;
              }else{
                  curIndex = 0;
              }

              scrollDelay = 10;

              $("#iframe").load(dashboard[curIndex]['src']);

          }, waitPeriod);

      }
  }

  rotate(100);

  var loadInterval = setInterval(function(){
      window.clearInterval(scrollInterval);
      rotate(100);
  }, 120000);


</script>
</html>